.prof_send_msg_btn{
   background: linear-gradient(135.34deg, #8C421D 15.43%, #FBE67B 38.47%, #FCFBE7 53.36%, #F7D14E 69.97%, #D4A041 86.26%);
   font-family: Jost;
   font-size: 16px;
   font-weight: 500;
   line-height: 25.96px;
   text-align: center;
   color: #000;
   padding: 7px 43px;
   border: none;
   border-radius: 20px;
   
}
.num_of_friends_div{
    background: linear-gradient(135.34deg, #8C421D 15.43%, #FBE67B 38.47%, #FCFBE7 53.36%, #F7D14E 69.97%, #D4A041 86.26%);
    text-align: center;
    padding: 12px;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: -7px;

}
.num_of_friends_text{
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.96px;
    text-align: center;
    color: #000000;
}
.num_of_friends_count{
    text-align: center;
    color: #000000;
    font-family: Jost;
    font-size: 40px;
    font-weight: 500;
    line-height: 43.4px;
}

/* inbox modal start start */


.inbox_content{
    background-color: #161616 !important;
    border-radius: 6px;
}
.inbox_options_box{
    background: #212121;
    border-radius: 9px;
    padding: 13px 26px;
}
.back_btn_option{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: left;
}
.inbox_back_icon{
    color: #fff !important;
    font-size: 19px !important;
}
.inbox_text{
    font-family: Jost;
    font-size: 23px;
    font-weight: 500;
    line-height: 38.15px;
    text-align: left;
    color: #fff;
}
.features_alignment{
    text-align: center;
}
.events_msges_option_box{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}
.events_msges_btn{
    color: #fff;
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.64px;
    text-align: center;
    background: #8030CC;
    border-radius: 22px;
    border: none;
    padding: 5px 18px;

}
.inbox_divider{
    height: 1px;
   background-color: #fff;
   opacity: 20%;
}
.inbox_features_box{
    background: #161616;
    border-radius: 17px;
    padding: 10px 23px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 13px; */
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.features_icon{
    color: #fff !important;
    font-size: 23px !important;
    border-radius: 50%;
    background: #10A3E5;
    padding: 16px;
}

.features_text{
    color: #fff;
    font-family: Jost;
    font-size: 17px;
    font-weight: 600;
    line-height: 42.34px;
    text-align: center;

}
.features_icon_one{
    background: #6366F1;
}

.features_icon_two{
    background: #A755F7;

}
.features_icon_three{
    background: #FF9900;

}
.writer_box{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-bottom: 30px;
}
.writer_inbox_sub_text{
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 29.64px;
    text-align: center;
    color: #FFFFFF;
}

.inbox_down_icon{
    color: #fff !important;
    font-size: 12px !important;
}
.inbox_systems_box{
    background: #161616;
    border-radius: 17px;
    padding: 22px 23px;
    margin: 21px 0px;
}
.system_img {
    background: #64FD13;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    width: 59px;
    height: 59px;
    margin: auto;
    display: block;
}
.system_img img {
    width: 81%;
   
}
.systems_task_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 13px;
}
.systems_text_head {
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 35.34px;
    text-align: left;
    color: #CBCBCB;
}
.systems_sub_text {
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.34px;
    text-align: left;
    color: #CBCBCB;
}
.system_major_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 13px;
}
.academy_img{
    background: #38D23E;
  
}

.contract_img{
    background: #E0EAFC;

}
.annoucment_img{
    background: #CCFBF1;

}
.giftsinbox_img{
    background: #F3F3F3;

}
.updates_img{
    background: #FDE7F3;
}

.modal{
    overflow-y: auto; /* Enable vertical scrolling */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.modal::-webkit-scrollbar{
    display: none; /* Safari and Chrome */
}
.discover_data_btns{
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 23.64px;
    text-align: center;
    background: #8030CC;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 24px;
}
.discover_btns_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    flex-wrap: wrap;
}
.note_bell_icon{
    color: #fff !important;
    font-size: 18px !important;
    background: #360C55;
    border-radius: 50%;
    padding: 13px;
}
.note_count{
    background-color: #fff;
    border-radius: 50%;
    padding: 2px 2px;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
}
.note_count_number{
    font-family: Jost;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: #141414;
}
.dollar_img{
    width: 35%;
}
.inbox_web_novels_bg{
    background-image: url(../../Assets/images/web_novel_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 241px 23px 21px;
    border-radius: 18px;
    margin-top: 21px;
}
.webnovel_head{
    font-family: Jost;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    color: #FFFFFF;
}
.webnovel_text{
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #CBCBCB;
}
.webnovel_mark{
    background: #D9D9D9;
    height: 7px;
    width: 20px;
    opacity: 50%;
}
.webnovel_active{
    background: #FFFFFF;
    height: 7px;
    width: 20px;
}

.wining_context_text {
    color: #fff;
    font-family: Jost;
    font-size: 20px;
    font-weight: 600;
    line-height: 42.34px;
    text-align: left;
}
.contests_title{
    font-family: Jost;
    font-size: 17px;
    font-weight: 600;
    line-height: 42.34px;
    text-align: left;
    color: #CBCBCB;
}
.contests_days{
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 42.34px;
    text-align: left;
    color: #CBCBCB;
}
.contest_img{
    width: 25%;
}
.settings_text{
    font-family: Jost;
    font-size: 17px;
    font-weight: 600;
    line-height: 42.34px;
    text-align: left;
    color: #FFFFFF;
}
.inbox_skip_btn_box{
    display: flex ;
    justify-content: end;
    align-items: center;
}
.skip_three_btn{
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 29.64px;
    text-align: center;
    background: #8030CC;
    border-radius: 20px;
    padding: 4px 18px;
    color: #fff;
    border: none;
}
.directive_title{
    font-family: Jost;
    font-size: 31px;
    font-weight: 600;
    line-height: 47px;
    text-align: left;
    color: #FFFFFF;
}
.directive_book_bg{
    background-image: url(../../Assets/images/directivebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0px;
    /* padding: 18px 30px; */
}
.inbox_literature_title{
    font-family: Jost;
    font-size: 34px;
    font-weight: 900;
    line-height: 45px;
    text-align: left;
    color: #fff;

}
.literature_title_two{
    color: #8030CC;

}
.disrective_img{
    width: 77%;
    margin-top: -28px;
    margin-bottom: -20px
}
.winbook_img{
    border-radius: 50%;
    background: linear-gradient(269.85deg, #AA37FF 0%, #8030CC 65.66%);
    padding: 9px 10px;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 13%;
}

.winbook_img img{
    width: 100%;
}
.directive_readers_para{
    font-family: Jost;
    font-size: 14px;
    font-weight: 600;
    line-height: 24.3px;
    text-align: center;
    color: #fff;
}










/* inbox modal start  end*/

@media (max-width:991px){
    .notification_space{
        margin-top: 10px;
    }
    .writing_points {
        font-size: 29px;
    }
    .num_of_friends_count {
        font-size: 30px;
    }
    .num_of_friends_text {
        font-size: 17px;
    }
    .systems_text_head {
        font-size: 16px;
    }
    .systems_sub_text {
        font-size: 14px;
    }
    .system_img {
        padding: 9px;
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .systems_task_box {
        gap: 4px;
    }
    .discover_data_btns {
        font-size: 12px;
        padding: 2px 20px;
    }
    .events_msges_btn {
        font-size: 13px;
        padding: 3px 14px;
    }
    .features_text {
        font-size: 11px;
        line-height: 36.34px;
    }
    .recent_btn_res{
        justify-content: center;
        display: flex;
    }
    .inbox_web_novels_bg {
        padding: 133px 23px 21px;
    }
    .webnovel_head {
        font-size: 23px;
    }
    .webnovel_text {
        font-size: 16px;
    }
    .contest_img {
        width: 30%;
    }
    .directive_title {
        font-size: 26px;
    }
    .inbox_literature_title {
        font-size: 27px;
    }
    .features_icon {
        font-size: 17px !important;
        padding: 14px;
    }
}



@media (max-width:600px){
    .features_alignment{
        text-align: left;
    }
    .writer_inbox_sub_text {
        font-size: 13px;
        text-align: left;
    }
    .inbox_options_box {
        padding: 13px 14px;
    }
    .inbox_systems_box {
        padding: 22px 13px;
    }
    .num_of_friends_div {
        margin-top: 20px;
    }
    .writing_points {
        font-size: 16px;
    }
    .num_of_friends_text {
        font-size: 16px;
    }
    .num_of_friends_count {
        font-size: 26px;
    }
    .systems_sub_text {
        line-height: 25.34px;
    }
    .features_text {
        font-size: 14px;
    }
    .events_msges_btn {
        font-size: 13px;
        padding: 3px 18px;
    }
    .inbox_web_novels_bg {   
        padding: 134px 23px 21px;
    }
    .webnovel_head {
        font-size: 15px;
    }
    .webnovel_text {   
        font-size: 12px;
    }
    .discover_data_btns {
        font-size: 12px;
        line-height: 17.64px;
        padding: 5px 17px;
    }
    .contest_img {
        width: 100%;
    }
    .settings_text {
        font-size: 14px;
    }
    .features_icon {
        font-size: 16px !important;
        padding: 14px;
    }
}
@media (max-width:428px){
    .wining_context_text {
        font-size: 14px;
    }
    .inbox_back_icon {
        font-size: 12px !important;
    }
    .contests_title {
        font-size: 15px;
        line-height: 33.34px;
    }
    .directive_readers_para {
        font-size: 12px;
    }
    .directive_title {
        font-size: 22px;
    }
    .inbox_literature_title {
        font-size: 26px;
    }
}
@media (max-width: 390px) {
    .events_msges_btn {
        font-size: 13px;
        padding: 3px 15px;
    }
    .system_img {
        padding: 5px;
        width: 40px;
        height: 40px;
    }

    .features_text {
        font-size: 13px;
    }
    .prof_send_msg_btn {
        padding: 7px 32px;
    }
    .directive_readers_para {
        font-size: 11px;
    }
    .directive_title {
        font-size: 20px;
    }
    .inbox_literature_title {
        font-size: 21px;
    }
}

@media (max-width: 360px) {
    .inbox_literature_title {
        font-size: 19px;
    }
    .directive_readers_para {
        font-size: 10px;
    }
}